# python
__pycache__

# reframe
reframe/
reframe.log
reframe.out
stage/
output/
apps/castep/downloads/
apps/wrf/downloads/
apps/gromacs/downloads/

# other
setup/.sslconfig
Miniconda*.sh
working/
outdated/
.idea/
.DS_Store
doc/.*
doc/*.html
/doc/node_modules/

# jupyter checkpoints:
*-checkpoint.ipynb
